body {
  background-color: #141414;
}

nav {
  margin-bottom: 30px;
}

#alternativeUl {
  border: none;
  background-color: transparent;
  color: white;
  width: 5%;
}

#alternativeUl option {
  background-color: #141414;
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

#customSelect1,
#customSelect2 {
  appearance: none;
  background: url("../avatar.png") no-repeat center center;
  background-size: cover;
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
}
